<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <script src="../js/pageSwitch.min.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/pageSwitch.min.css">
    <title>ToolBar</title>
</head>
<body>
<th:block th:fragment="pageHeader">
    <div class="toolbar">
        <div class="w1200">
            <ul class="fr">
                <li>欢迎来到款爷商城</li>
                <li class="lt">|</li>
                <li><a href="../login.html" name="loginLink">登陆</a></li>
                <li class="lt">|</li>
                <li><a href="../register.html" name="registerLink">免费注册</a></li>
            </ul>
        </div>
    </div>
    <div class="index-head">
        <div class="w1200">
            <div class="logo"><img src="../images/logo.png" th:src="@{/mall/images/logo.png}"/></div>
            <div class="search"><input placeholder="请输入你想找得宝贝"><span class="stxt">搜索</span></div>
        </div>
    </div>

</th:block>

</body>
</html>