<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wx="http://weixin.jiangcai.me" lang="en">
<!--/*@thymesVar id="order" type="me.jiangcai.dating.entity.CashOrder"*/-->
<!--/*@thymesVar id="qrUrl" type="java.lang.String"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>支付宝收款二维码</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="dist/css/meiyue.css" th:href="@{/dist/css/meiyue.css}">
    <script src="dist/js/jquery.js" th:src="@{/dist/js/jquery.js}"></script>
    <script src="dist/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="pay-alipay">
    <p class="t1" >*春风</p>
    <p class="t2" >向您发起一笔收款申请</p>
    <p class="t3"><i><img src="images/1.png" ></i>
        <span class="nun">123</span>
    </p>
    <!--src="images/temp2.png" th:src="${qrUrl}"-->
    <p class="t4"><img src="images/temp2.png"/></p>
    <p class="t5">支付帮助<img src="images/Imported.png"/> </p>
</div>
<!--支付帮助说明!-->
<p class="helpshow2"><img src="images/helppay1.png"/></p>
<p class="helpshow1"><img src="images/helppay2.png"/></p>

<div class="am-show">
    <div class="back-c">
        <ul class="topay">
            <!--<span class="pull-right big15"><img-->
            <!--src="images/ok-icon.png"/> </span>-->
            <h1>选择付款方式</h1>
            <li class="bo-b payChannel" data-id="weixin"><a href="paycode.html"> <img src="images/weixin-icon.png"
                                                             />微信支付</a>
            </li>
            <li class="payChannel" data-id="alipay"><a href="alipayPay.html"><img src="images/zhifubao-icon.png"
                                                         />支付宝支付</a>
            </li>
            <!--<li><img src="images/kuaijie-icon.png"/>快捷支付</li>-->
        </ul>
    </div>
</div>
<script>
    $(document).ready(function ($) {

        $(".t5").click(function (event) {
            $(".helpshow1").css({"display": "block"});
        });
        $(".helpshow1").click(function (event) {
            $(".helpshow2").css({"display": "block"});
            $(".helpshow1").css({"display": "none"});
        });
        $(".helpshow2").click(function (event) {
            $(".helpshow2").css({"display": "none"});
        });
    });
</script>
</body>
</html>