<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="#cashStrings" type="me.jiangcai.dating.web.thymeleaf.CashStrings"*/-->
<!--/*@thymesVar id="user" type="me.jiangcai.dating.entity.User"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的银行卡</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bankcard" th:each="card:${user.getCards()}">
    <div class="card">
        <dl class="blue" th:style="${'background:'+card.bank.background}"
            style="background: linear-gradient(to right, #588CC6 , #4669B4);">
            <dt><img src="images/temp.jpg" class="img-circle"></dt>
            <dd ><span class="txt" th:text="${card.bank.name}">杭州银行</span>
			<span class="code-n" th:text="${#cashStrings.bankCardNumber(card.number)}">罗春爱｜尾号 2222</span></dd>
        </dl>
    </div>
</div>
<div class="bankcard" th:remove="all">
    <div class="card">
        <dl class="green">
            <dt><img src="images/temp.jpg" class="img-circle"></dt>
            <dd><span class="txt">杭州银行</span>
                <span class="code-n">罗春爱｜尾号 2222</span></dd>
        </dl>
    </div>
</div>
<div class="bankcard" th:remove="all">
    <div class="card">
        <dl class="yellow">
            <dt><img src="images/temp.jpg" class="img-circle"></dt>
            <dd><span class="txt">杭州银行</span>
                <span class="code-n">罗春爱｜尾号 2222</span></dd>
        </dl>
    </div>
</div>
<div class="add-bank"><a href="addcard.html" th:href="@{/card}"><img src="images/add-bank.png">添加银行卡</a>
</div>

<!--<div class="modcard">-->
<!--<ul>-->
<!--<li>添加银行卡<i class="fa fa-angle-right fa-2x pull-right"></i></li>-->
<!--</ul>-->
<!--</div>-->
</body>
</html>