<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="banks" type="java.lang.Iterable<me.jiangcai.dating.entity.Bank>"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>款爷——你的赚钱平台</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/share.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>

</head>
<body class="bg-write">
<div class="profit">
    <dl>
        <dd>送您一个银行：</dd>
        <dt>贷款、理财、保险、支付等产品均可受理，全国联网；</dt>
        <dd>坐着赚钱：</dd>
        <dt>爆款产品，优势明显，稍加推广，业务自然送上门来；</dt>
        <dd>稳赚500万/年：</dd>
        <dt>业务发展轻轻松松，增长稳定，佣金同比全国最优；</dt>
    </dl>
</div>

<div class="note-r">
    <p class="f14">合伙人预计收益</p>
    <ul class="onebg">
        <li>项目</li>
        <li>数量</li>
        <li>佣金比例</li>
        <li>收益</li>
    </ul>
    <ul>
        <li>理财</li>
        <li>5000万</li>
        <li>2.5%</li>
        <li>125万</li>
    </ul>
    <ul>
        <li>办卡</li>
        <li>1000张</li>
        <li>80元／张</li>
        <li>8万</li>
    </ul>
    <ul>
        <li>支付手续费</li>
        <li>1.2亿</li>
        <li>0.272％</li>
        <li>32.64万</li>
    </ul>

    <ul>
        <li>信用卡还款</li>
        <li>1.2亿</li>
        <li>1%</li>
        <li>120万</li>
    </ul>
    <ul>
        <li>保险佣金</li>
        <li>1000万</li>
        <li>15%</li>
        <li>150万</li>
    </ul>
    <ul>
        <li>借款</li>
        <li>5000万</li>
        <li>5%</li>
        <li>250万</li>
    </ul>
    <ul>
        <li class="b75">总收益</li>
        <li>685.64万</li>

    </ul>
    <p class="zhu ma-b">注：<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1. 合伙人发展的用户包含自己直接发展的用户，以及自己用户发展的用户，当团队中有用户申请成为合伙人时，发展的团队佣金从成为合伙人时起归此用户；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;2. 用户或合伙人发展15个用户时，收银手续费为0.45%，用户或合伙人发展50个用户时，收银手续费为0.38%；</p>
    <p th:if="${user.agentInfo==null}" class="up-btn">
        <a type="button" class="btn btn-danger btn-lg btn-block clickHref" href="agent.html"
                th:href="@{/agent}">
            成为合伙人
        </a>
    </p>

</div>

</body>
</html>