<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="loanList" type="me.jiangcai.dating.model.trj.Loan[]"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>款爷借款</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/share.js"></script>
</head>
<body>
<div class="wealth">
    <p class="card-b"><img src="images/load-pic.png" class="b"></p>
    <!--<div class="wealth-abs">-->
    <!--<ul>-->
    <!--<li class="bo-r"><span class="f12">累积借出资金(万元)</span><span class="f25">1000,000</span></li>-->
    <!--<li><span class="f12">累积为用户赚取(元)</span><span class="f25">1000,000</span></li>-->
    <!--</ul>-->
    <!--</div>-->
</div>
<div class="loan-v2">
    <ul class="bg1 clickHref" th:each="loan:${loanList}" href="itemloan.html"
        th:href="@{/loanStart(id=${loan.productId})}" th:class="${loan.listClass}">
        <li class="b70">
            <p class="f19"  th:text="${loan.productName}">网商宝</p>
            <p class="f12" th:text="${loan.introduce}">12个月还本付息9%</p>
            <p><a href="#">立即借款</a> </p>
        </li>
        <li class="b30">
            <p class="f46"><span th:text="${loan.amount10K}">20</span><span class="f13">万</span></p>
            <p class="f12">最高可贷</p>
        </li>
    </ul>
    <ul class="bg2 clickHref" href="loan.html" th:remove="all">
        <li class="b70">
            <p class="f19">快车宝</p>
            <p class="f12">具有借款需求的汽车车主具有借款需求的汽车车主</p>
            <p><a href="#">立即借款</a> </p>
        </li>
        <li class="b30 clickHref" href="loan.html" th:remove="all">
            <p class="f46">20<span class="f13">万</span></p>
            <p class="f12">最高可贷</p>
        </li>
    </ul>
    <ul class="bg3 clickHref" href="loan.html" th:remove="all">
        <li class="b70">
            <p class="f19">随心贷</p>
            <p class="f12">具有消费需求的优质白领</p>
            <p><a href="#">立即借款</a> </p>
        </li>
        <li class="b30">
            <p class="f46">15<span class="f13">万</span></p>
            <p class="f12">最高可贷</p>
        </li>
    </ul>
    <ul class="bg4 clickHref" href="loan.html" th:remove="all">
        <li class="b70">
            <p class="f19">购车宝</p>
            <p class="f12">具有真实购车需求的购车人</p>
            <p><a href="#">立即借款</a> </p>
        </li>
        <li class="b30">
            <p class="f46">20<span class="f13">万</span></p>
            <p class="f12">最高可贷</p>
        </li>
    </ul>
</div>
</body>
</html>