<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="loanList" type="me.jiangcai.dating.model.trj.Loan[]"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>款爷借款</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/share.js"></script>
</head>
<body>
<div class="wealth">
    <p class="card-b"><img src="images/load-pic.png" class="b"></p>
    <!--<div class="wealth-abs">-->
    <!--<ul>-->
    <!--<li class="bo-r"><span class="f12">累积借出资金(万元)</span><span class="f25">1000,000</span></li>-->
    <!--<li><span class="f12">累积为用户赚取(元)</span><span class="f25">1000,000</span></li>-->
    <!--</ul>-->
    <!--</div>-->
</div>
<div class="products">
    <ul class="bm-b clickHref" th:each="loan:${loanList}" href="itemloan.html"
        th:href="@{/loanStart(id=${loan.productId})}">
        <li class="b30">
            <p class="f32"><span th:text="${loan.amount10K}">20</span><span class="f21">万</span></p>
            <p class="f12">最高可贷</p>
        </li>
        <!--<li th:text="${'区域:'+loan.region}">区域:上海</li>!-->
        <li class="b70">
            <p><img src="images/Loan-con4.png" th:src="@{${loan.imageUri}}"/></p>
            <p class="f15"  th:text="${loan.productName}">项目贷款</p>
            <p class="f12 t-size" th:text="${loan.introduce}">
                本借款项目系为具有个人消费需求的汽车车主，提供的短期消费类借款产品。该产品由作为借款人的汽车车主，将其的自有车辆作为质押物申请借款。经过投融家平台审核后，确认借款人资信良好，车辆权属清晰的，且借款人所有车辆的可以依法质押的，方允许借款人发布借款信息。借款项目由第三方担保公司提供第三方连带责任保证，并且借款金额根据评估价值进行相应的折扣。本产品具有借款申请快捷，借款期限短、借款保障系数高，质押车辆处置快速的特点。</p>
        </li>
    </ul>
    <ul class="bm-b clickHref" href="loan.html" th:remove="all">
        <li class="b30">
            <p class="f32">20<span class="f21">万</span></p>
            <p class="f12">最高可贷</p>
        </li>

        <li class="b70">
            <p><img src="images/Loan-icon.png"></p>
            <p class="f15">快车宝</p>
            <p class="f12 t-size">
                本项目系向优质企事业单位员工、教师、公务员提供的个人消费信用借款，借款人申请资料经投融家风控严格把控及反欺诈风险评估，借款人信用记录良好，工作收入来源稳定，拥有较强的还款能力。</p>
        </li>
    </ul>
    <ul class="bm-b clickHref" href="loan.html" th:remove="all">
        <li class="b30">
            <p class="f32">15<span class="f21">万</span></p>
            <p class="f12">最高可贷</p>
        </li>

        <li class="b70">
            <p><img src="images/Loan-icon1.png"></p>
            <p class="f15">随心贷</p>
            <p class="f12 t-size">
                本项目系向优质企事业单位员工、教师、公务员提供的个人消费信用借款，借款人申请资料经投融家风控严格把控及反欺诈风险评估，借款人信用记录良好，工作收入来源稳定，拥有较强的还款能力。</p>
        </li>
    </ul>
    <ul class="clickHref" href="loan.html" th:remove="all">
        <li class="b30">
            <p class="f32">20<span class="f21">万</span></p>
            <p class="f12">最高可贷</p>
        </li>

        <li class="b70">
            <p><img src="images/Loan-icon2.png"></p>
            <p class="f15">购车宝</p>
            <p class="f12 t-size">
                本项目指具有真实购车用途的借款人通过4S店向银行申请车辆按揭贷款，银行审批通过后出具同意放款批复函，申请人以银行出具的同意放款批复函作为资信证明向投融家平台申请的汽车首付款借款需求，借款人资信良好、拥有一定的经济实力、还款来源充足。</p>
        </li>
    </ul>
</div>

</body>
</html>