<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="request" type="me.jiangcai.dating.entity.ProjectLoanRequest"*/-->
<!--/*@thymesVar id="#cashStrings" type="me.jiangcai.dating.service.CashStrings"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>确认借款</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="mock/all.js" th:src="@{/all.js}"></script>
</head>
<body>
<div class="success">
    <p class="f17"><img src="images/5.png"/>申请成功 </p>
    <p>您已成功申请项目贷款，请确认以下信息</p>
</div>
<div class="mydata">
    <ul>
        <li class="bo-b">
            <span class="pull-right" th:text="${request.loanData.name}">目黑瞳</span>申请人姓名
        </li>
        <li class="bo-b"><span class="pull-right" th:text="${#cashStrings.idNumber(request.loanData.number)}">4****************0</span>身份证号码
        </li>
        <li class="bo-b"><span class="pull-right"
                               th:text="${#numbers.formatDecimal(request.amount,1,'COMMA',2,'POINT')}">200000.00</span>借款金额
        </li>
        <li class="bo-b"><span class="pull-right" th:text="${request.termDays}+'天'">365天</span>还款期限</li>
        <li><span class="pull-right red-m" th:text="${#numbers.formatDecimal(request.toReturn(),1,'COMMA',2,'POINT')}">218000.00</span>到期还款金额
        </li>
    </ul>
</div>
<div class="agreelist">
    <p class="f13">请您务必打开以下九份合同仔细阅读，并点击同意！</p>
    <p class="check "><input type="checkbox" id="CT001" class="chk_1"/><label for="CT001"></label><span
            class="check-pos">同意<a name="A_CT001" href="agreement5.html">《最高额借款合同》</a></span></p>
    <p class="check"><input type="checkbox" id="CT002" class="chk_1"/><label for="CT002"></label><span
            class="check-pos">同意<a name="A_CT002" href="agreement9.html">《最高额度支用申请单》</a></span></p>
    <p class="check"><input type="checkbox" id="CT003" class="chk_1"/><label for="CT003"></label><span
            class="check-pos">同意<a name="A_CT003" href="agreement7.html">《最高额保证合同》</a></span></p>
    <p class="check"><input type="checkbox" id="CT004" class="chk_1"/><label for="CT004"></label><span
            class="check-pos">同意<a name="A_CT004" href="agreement8.html">《融资居间服务协议》</a></span></p>
    <p class="check"><input type="checkbox" id="CT005" class="chk_1"/><label for="CT005"></label><span
            class="check-pos">同意<a name="A_CT005" href="agreement12.html">《征信查询授权书》</a></span></p>
    <p class="check"><input type="checkbox" id="CT006" class="chk_1"/><label for="CT006"></label><span
            class="check-pos">同意<a name="A_CT006" href="agreement10.html">《款爷商城商家入驻协议》</a></span></p>
    <p class="check"><input type="checkbox" id="CT007" class="chk_1"/><label for="CT007"></label><span
            class="check-pos">同意<a name="A_CT007" href="agreement13.html">《监管承诺函》</a></span></p>
    <p class="check"><input type="checkbox" id="CT008" class="chk_1"/><label for="CT008"></label><span
            class="check-pos">同意<a name="A_CT008" href="agreement11.html">《电子商务代运营服务合同》</a></span></p>



</div>
<script th:inline="javascript">
    var requestId = /*[[${request.id}]]*/ 100;
    var defaultDatabaseContracts = {
        CT002: 'simple',
        CT003: 'simple'
    };
    var databaseContracts = /*[[${request.contracts}]]*/ defaultDatabaseContracts;
    //    打开这个地方的时候,应该判断自身从何处进入的
    //    来自空 则表明是点击自消息通知 应当给予清空本地缓存（使用数据库数据）
    //    反之则应该检查当前本地缓存中已表明同意的条款 进行AJAX操作 完成签章
</script>
<script>
    $(function () {
        $('.chk_1').attr('disabled', 'disabled');

        $.map(databaseContracts, function (data, id) {
            $('#' + id).prop('checked', true);
        });

        var targetContract = window.location.hash.substr(1);
        if (targetContract && targetContract.length > 0) {
            $('#' + targetContract).prop('checked', true);
            $.ajax($.uriPrefix + '/projectLoanContract', {
                method: 'put',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify({
                    requestId: requestId,
                    contract: targetContract
                }),
                error: function (re) {
                    alert(re.responseText);
                }
            });
        }
    });

</script>
<p class="p-15 mb15">
    <!--<input value="提交" type="submit" class="black"  disabled="disabled"/>-->
    <!--当所有协议同意后,按钮变亮  -->
    <!--<input value="已提交" type="submit" class="redremove" />-->
</p>


</body>
</html>