<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="user" type="me.jiangcai.dating.entity.User"*/-->
<!--/*@thymesVar id="balance" type="java.lang.Number"*/-->
<!--/*@thymesVar id="numbers" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="flows" type="java.util.List<me.jiangcai.dating.model.BalanceFlow>"*/-->
<!--/*@thymesVar id="withdrawalFlows" type="java.util.List<me.jiangcai.dating.model.BalanceFlow>"*/-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>邀请明细</title>
<link rel="stylesheet" href="dist/css/bootstrap.min.css">
<link rel="stylesheet" href="dist/css/font-awesome.min.css">
<link rel="stylesheet" href="dist/css/meiyue.css">
<script src="dist/js/jquery.js"></script>
<script src="dist/js/bootstrap.min.js"></script>

</head>
<body>

<div class="financial">
    <p class="pull-right"><a href="now.html" class="tx">提现</a></p>
    <p class="smt">可提金额(元)</p>
    <p class="money" th:text="${#numbers.formatDecimal(balance,1,'COMMA',2,'POINT')}"
                         th:name="balance">1000.00</p>
	<div class="num-y"><a href="Invitelist.html">成功邀请人数(人)<span class="pull-right f17">100<img src="images/blackrightw-r.png" ></span></a></div>
</div>
<p class="yjmx"> <span class="yj" name="yj">佣金明细</span><span class="pull-right"><a href="#" class="dcbg">导出表格</a></span> </p>
<!--佣金明细!-->
<div class="yjlist mb60" >
	<p class="kong" th:if="${withdrawalFlows.isEmpty()}"><img src="images/kong-pic.png">暂无数据</p>
	<ul class="bg" th:if="${!withdrawalFlows.isEmpty()}">
		<li class="w3">昵称</li>
		<li class="w3">收款金额(元)</li>
		<li class="w3">佣金(元)</li>
	</ul>
	<ul th:each="flow:${withdrawalFlows}" onclick="javascript:window.location.href='Partnerdata.html'">
		<li class="w3" >欣欣殿下</li>
		<li class="w3" >2000</li>
		<li class="w3" >500.00<span class="br-img"><img src="images/blackright-r.png" ></span></li>
	</ul>
	<ul th:each="flow:${withdrawalFlows}">
		<li class="w3" >欣欣殿下</li>
		<li class="w3" >2000</li>
		<li class="w3" >500.00<span class="br-img"><img src="images/blackright-r.png" ></span></li>
	</ul>
</div>
<!--佣金明细 end!-->
<div class="yjbl" th:if="${user.agentInfo!=null}">
	<input name="" type="button" value="调整手续费" class="clickHref"
                                                         href="myteam.html" th:href="@{/myTeam}">
</div>
<!-- Modal -->
<div class="modal fade" id="cardsContainer" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body show-c">
				<p class="sn">
					<input name="" type="text" placeholder="请输入需要导出的邮箱地址">
				</p>
			</div>
			<div class="modal-footer">
				<div class="show-c2"><a href="#" data-dismiss="modal">取消</a></div>
				<div class="show-c1 cardSubmit" style="cursor: pointer">确定</div>
			</div>
		</div>
	</div>
</div>
<script src="mock/all.js" th:src="@{/all.js}"></script> 
<script>
    $(function () {
        var yj = $('#yj');
        var tx = $('#tx');
        tx.hide();

        $('.yj').click(function () {
            yj.hide();
            tx.hide();
            $('#' + $(this).attr('name')).show();
			$(this).removeClass("c-0");
        	$(this).addClass("c-8");
			$(this).siblings().removeClass("c-8");
			$(this).siblings().addClass("c-0");
        })
    });


</script>
</body>
</html>