<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="user" type="me.jiangcai.dating.entity.User"*/-->
<!--/*@thymesVar id="balance" type="java.lang.Number"*/-->
<!--/*@thymesVar id="number" type="java.lang.String"*/-->
<!--/*@thymesVar id="decimal" type="java.lang.String"*/-->
<!--/*@thymesVar id="flows" type="java.util.List<me.jiangcai.dating.model.BalanceFlow>"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>款爷合伙人</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/share.js"></script>
</head>
<body>
<div class="balance">
    <div class="yq"><img src="images/question-icon.png"><a href="explain.html" th:href="@{/explain}">合伙人说明</a></div>
    <div class="cri"> 佣金总额<b th:text="${number}">200000
        <small th:text="${decimal}">.00</small>
    </b></div>
    <div class="ba-btn">
        <button type="button" class="btn ba-bred btn-lg tx">提现</button>
        <!--<button type="button" class="btn ba-bglod btn-lg clickHref yj" href="moneylist-new.html"-->
        <!--th:href="@{/myInviteCode}">合伙佣金-->
        <!--</button>-->
    </div>
</div>
<p class="yjmx">佣金明细<span class="pull-right"><a href="#">导出表格</a></span></p>
<div class="yjlist">
    <p class="kong" th:if="${flows.isEmpty()}"><img src="images/kong-pic.png">暂无数据</p>
    <ul class="bg" th:if="${!flows.isEmpty()}">
        <li class="w4">时间</li>
        <li class="w4">用户/项目</li>
        <li class="w1">金额</li>
        <li class="w2">佣金</li>
    </ul>
    <ul th:each="flow:${flows}">
        <li class="w4" th:text="${{flow.startTime}}">2016 12-01</li>
        <li class="w4" th:text="${flow.flowName}">159****4325</li>
        <li class="w1" th:text="${#numbers.formatDecimal(flow.originalAmount,1,'COMMA',2,'POINT')}">22000</li>
        <li class="w2" th:text="${flow.flowType.toFlag()}+${#numbers.formatDecimal(flow.amount,1,'COMMA',2,'POINT')}">
            +452
        </li>
    </ul>
    <ul th:remove="all">
        <li class="w4">2016 12-01</li>
        <li class="w4">159****4325</li>
        <li class="w1">22000</li>
        <li class="w2">+45</li>
    </ul>
    <ul th:remove="all">
        <li class="w4">2016 12-01</li>
        <li class="w4">159****4325</li>
        <li class="w1">22000</li>
        <li class="w2">+45</li>
    </ul>
    <ul th:remove="all">
        <li class="w4">2016 12-01</li>
        <li class="w4">159****4325</li>
        <li class="w1">22000</li>
        <li class="w2">+4544</li>
    </ul>
</div>
</body>
</html>