<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="orders" type="java.util.List<me.jiangcai.dating.model.OrderFlow>"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/share.js"></script>
</head>
<body>
<div class="myorder-k" th:if="${orders.isEmpty()}">
    <p><img src="images/order-kong.png" th:src="@{/images/order-kong.png}"></p>
    <h1>您当前还没有相关订单</h1>
</div>
<div class="myorder" th:if="${!orders.isEmpty()}">
    <ul>
        <li href="orderdetails.html" class="clickHref" th:each="order:${orders}" th:switch="${order.status.name()}"
            th:href="@{/orderDetail/{id}(id=${order.order.id})}">
            <p>
                <span class="pull-right top-m"><img src="images/blackright-r.png"></span>
                <span class="pull-right top-m" th:case="'success'">到账</span>
                <span class="pull-right top-m fred" th:case="'transferring'">转账中</span>
                <span class="pull-right top-m fred" th:case="*">未到账</span>
                <span class="f17"
                      th:text="${#numbers.formatDecimal(order.order.amount,1,'COMMA',2,'POINT')}">4000.00</span>
                <span class="small-e" th:class="${order.cashOrder?'small-e':'small-s'}"
                      th:text="${order.cashOrder?'收银台收款':'二维码收款'}">二维码收款</span>
                <span class="time" th:text="${{order.order.startTime}}">2016-12-19 11:45:45</span>
            </p>
        </li>
        <li th:remove="all" href="orderdetails.html" class="clickHref">
            <p>
                <span class="pull-right top-m"><img src="images/blackright-r.png"></span>
                <span class="pull-right top-m">到账</span>
                <span class="f17">4000.00</span><span class="small-e">二维码收款</span>
                <span class="time">2016-12-19 11:45:45</span>
            </p>
        </li>
        <li th:remove="all">
            <p>
                <span class="pull-right top-m"><img src="images/blackright-r.png"></span>
                <span class="pull-right top-m">到账</span>
                <span class="f17">4333000.00</span><span class="small-e">收银台收款</span>
                <span class="time">2016-12-19 11:45:45</span>
            </p>
        </li>
        <li th:remove="all">
            <p>
                <span class="pull-right top-m"><img src="images/blackright-r.png"></span>
                <span class="pull-right top-m">到账</span>
                <span class="f17">4000.00</span><span class="small-e">二维码收款</span>
                <span class="time">2016-12-19 11:45:45</span>
            </p>
        </li>
        <li th:remove="all">
            <p>
                <span class="pull-right top-m"><img src="images/blackright-r.png"></span>
                <span class="pull-right top-m">到账</span>
                <span class="f17">4000.00</span><span class="small-e">收银台收款</span>
                <span class="time">2016-12-19 11:45:45</span>
            </p>
        </li>
    </ul>
</div>
</body>
</html>