<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="level" type="me.jiangcai.dating.model.InviteLevel"*/-->
<!--/*@thymesVar id="number" type="java.lang.Number"*/-->
<!--/*@thymesVar id="user" type="me.jiangcai.dating.entity.User"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>邀请说明</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/share.js"></script>
</head>
<body>
<div class="note">
    <ul>
        <li class="b-r"><p class="f15">当前汇率</p>
            <span class="f26" id="cashRate"
                  th:text="${#numbers.formatDecimal(level.rate.movePointRight(2),1,2)}">0.60</span>
            <span class="f15">％</span>
        </li>
        <li><p class="f15">你邀请人数</p><span id="numbers" class="f26" th:text="${number}">5</span><span
                class="f15">人</span></li>
    </ul>
</div>

<div class="yjlist">
    <p class="month">邀请说明</p>
    <ul class="bg" >
        <li class="w6">邀请人数(人)</li>
        <li class="w6">费率(%)</li>
        <li class="w5">佣金(元)</li>
    </ul>
    <ul >
        <li class="w6" >小于5人</li>
        <li class="w6" >0.60%</li>
        <li class="w7" >0%</li>
    </ul>
    <ul >
        <li class="w6">5到9人</li>
        <li class="w6" >0.45%</li>
        <li class="w7" >(0.6-0.45)*60%=0.09%</li>
    </ul>
    <ul >
        <li class="w6">10到14人</li>
        <li class="w6" >0.38%</li>
        <li class="w7" >(0.6-0.38)*70%=0.154%</li>
    </ul>
    <ul >
        <li class="w6" >大于15人</li>
        <li class="w6" >0.3%</li>
        <li class="w5" >(0.6-0.3)*80%=0.240%</li>
    </ul>
</div>
<div class="yjlist">
    <p class="month">备注:<br>佣金=(被邀请人费率-邀请人费率)*分润比例<br>当被邀请人费率<=邀请人费率时，无佣金。</p>
</div>
</body>
</html>