<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="user" type="me.jiangcai.dating.entity.User"*/-->
<!--/*@thymesVar id="balance" type="java.lang.Number"*/-->
<!--/*@thymesVar id="numbers" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="flows" type="java.util.List<me.jiangcai.dating.model.BalanceFlow>"*/-->
<!--/*@thymesVar id="withdrawalFlows" type="java.util.List<me.jiangcai.dating.model.BalanceFlow>"*/-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>合伙人资料</title>
<link rel="stylesheet" href="dist/css/bootstrap.min.css">
<link rel="stylesheet" href="dist/css/font-awesome.min.css">
<link rel="stylesheet" href="dist/css/meiyue.css">
<script src="dist/js/jquery.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="mydata">
	<ul>
		<li class="bo-b"> <span class="pull-right" th:text="${user.nickname}">目黑瞳</span>昵称 </li>
		<li class="bo-b"> <span class="pull-right" >500.00元</span>收款总额 </li>
		<li class="bo-b"> <span class="pull-right" >500.00元</span>佣金总额 </li>
	</ul>
</div>
<!--收款记录!-->
<div class="yjlist">
	<p class="month">收款记录</p>
	<ul class="bg" th:if="${!withdrawalFlows.isEmpty()}">
		<li class="w10">时间</li>
		<li class="w5">收款金额(元)</li>
		<li class="w5">产生佣金(元)</li>
	</ul>
	<ul th:each="flow:${withdrawalFlows}">
		<li class="w10" >16-08-13 18:00</li>
		<li class="w5" >2000.00</li>
		<li class="w5" >2000.00</li>
	</ul>
	<ul th:each="flow:${withdrawalFlows}">
		<li class="w10" >16-08-13 18:00</li>
		<li class="w5" >2000.00</li>
		<li class="w5" >2000.00</li>
	</ul>
</div>
<!--收款记录 end!--> 

<script src="mock/all.js" th:src="@{/all.js}"></script>
</body>
</html>