<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wx="http://weixin.jiangcai.me" lang="en">
<!--/*@thymesVar id="order" type="me.jiangcai.dating.entity.CashOrder"*/-->
<!--/*@thymesVar id="qrUrl" type="java.lang.String"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>支付二维码</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css" th:href="@{/dist/css/font-awesome.min.css}">
    <link rel="stylesheet" href="dist/css/meiyue.css" th:href="@{/dist/css/meiyue.css}">
    <script src="dist/js/jquery.js" th:src="@{/dist/js/jquery.js}"></script>
    <script src="dist/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="pay-new" style=" background:url(images/paybg.png) no-repeat; background-size:100%;">
    <p class="t1" th:text="${order.owner.username}">呵呵</p>
    <p class="t2"><span th:text="${order.owner.realName}">*春风</span> 向您发起一笔收款申请</p>
    <p class="t3"><i><img src="images/1.png"></i><span class="nun"
                                                       th:text="${#numbers.formatDecimal(order.amount,0,'COMMA',2,'POINT')}">123.00</span>
    </p>
    <p class="t4"><img name="qrCode" src="images/temp2.png" th:src="${qrUrl}"/></p>
    <p class="t5">长按二维码可进行支付</p>
    <p class="t6">
        <button type="button" class="btn btn-default btn-lg btn-block" onclick="wx.showOptionMenu();">发送收款二维码</button>
    </p>
</div>

<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" th:remove="all"></script>
<script wx:js=""></script>
<script wx:share=""></script>
<script type="text/javascript" th:inline="javascript">
    $.targetOrderId = /*[[${order.id}]]*/ null;
</script>
<script src="mock/all.js" th:src="@{/all.js}"></script>
<script src="js/pay.js" th:src="@{/js/pay.js}"></script>
</body>
</html>