<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:wx="http://weixin.jiangcai.me">
<!--/*@thymesVar id="order" type="me.jiangcai.dating.entity.CashOrder"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css" th:href="@{/dist/css/font-awesome.min.css}">
    <link rel="stylesheet" href="dist/css/meiyue.css" th:href="@{/dist/css/meiyue.css}">
    <script src="dist/js/jquery.js" th:src="@{/dist/js/jquery.js}"></script>
    <script src="dist/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="paycode">
    <h4><i class="fa fa-cny"></i>
        <span class="nun" th:text="${{order.amount}}">30000</span></h4>
    <p class="txt" th:text="${order.comment}">哇哇哇哇哇</p>
    <p><img name="qrCode" src="images/temp2.png" th:src="@{/toPayQR/{id}(id=${order.id})}"/></p>
</div>
<div class="share-btn">
    <button type="button" class="btn btn-danger btn-lg btn-block" onclick="wx.showOptionMenu();">我要分享</button>
</div>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" th:remove="all"></script>
<script wx:js=""></script>
<script wx:share=""></script>
</body>
</html>