<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wx="http://weixin.jiangcai.me" lang="en">
<!--/*@thymesVar id="order" type="me.jiangcai.dating.entity.CashOrder"*/-->
<!--/*@thymesVar id="qrUrl" type="java.lang.String"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>收款二维码</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css" th:href="@{/dist/css/font-awesome.min.css}">
    <link rel="stylesheet" href="dist/css/meiyue.css" th:href="@{/dist/css/meiyue.css}">
    <script src="dist/js/jquery.js" th:src="@{/dist/js/jquery.js}"></script>
    <script src="dist/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="pay-new">
    <p class="t1" th:if="${order.cashOrder}" th:text="${order.owner.username}">呵呵</p>
    <p class="t2" th:if="${order.cashOrder}"><span th:text="${order.owner.realName}">*春风</span> 向您发起一笔收款申请</p>
    <p class="t3"><i><img src="images/1.png" th:src="@{/images/1.png}"></i>
        <span class="nun"
              th:text="${#numbers.formatDecimal(order.amount,1,'COMMA',2,'POINT')}">123</span>
    </p>
    <!--src="images/temp2.png" th:src="${qrUrl}"-->
    <p class="t4"><img name="qrCode" id="qrCode"/></p>
    <p class="t5 alipay">请用支付宝扫此二维码</p>
    <p class="t6 alipay" id="alipayTip">支付帮助<img src="images/Imported.png"
                                                 th:src="@{/images/Imported.png}"/></p>
    <p class="t5 weixin">长按二维码可进行支付</p>
    <!--<p class="t6 weixin">-->
        <!--<button type="button" class="btn btn-default btn-lg btn-block weixinShare">发送收款二维码</button>-->
    <!--</p>-->
</div>
<!--支付帮助说明!-->
<p class="helpshow2"><img src="images/helppay1.png" th:src="@{/images/helppay1.png}"/></p>
<p class="helpshow1"><img src="images/helppay2.png" th:src="@{/images/helppay2.png}"/></p>

<div class="am-show">
    <div class="back-c">
        <ul class="topay">
            <!--<span class="pull-right big15"><img-->
            <!--src="images/ok-icon.png"/> </span>-->
            <h1>选择付款方式</h1>
            <li class="payChannel" data-id="weixin" th:if="${order.supportWeixinPay}">
                <img src="images/weixin-icon.png"
                     th:src="@{/images/weixin-icon.png}"/>微信支付
            </li>
            <li class="payChannel" data-id="alipay" th:if="${order.supportAliPay}">
                <img src="images/zhifubao-icon.png"
                     th:src="@{/images/zhifubao-icon.png}"/>支付宝支付
            </li>
            <!--<li><img src="images/kuaijie-icon.png"/>快捷支付</li>-->
        </ul>
    </div>
</div>

<p style="display: none" id="loadingFlag"></p>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" th:remove="all"></script>
<script wx:js=""></script>
<script wx:share="${#share.title(order)}|${#share.desc(order)}|${#share.link(order,#request)}|${#share.imageUrl(order)}"></script>
<script type="text/javascript" th:inline="javascript">
    $.targetOrderId = /*[[${order.id}]]*/ 'myOrder11';
</script>
<script src="mock/all.js" th:src="@{/all.js}"></script>
<script src="js/pay.js" th:src="@{/js/pay.js(v=1)}"></script>
<script src="dist/js/share.js" th:src="@{/dist/js/share.js}"></script>
</body>
</html>