<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="cards" type="java.lang.Iterable<me.jiangcai.dating.entity.Card>"*/-->
<!--/*@thymesVar id="card" type="me.jiangcai.dating.entity.Card"*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>设置付款金额</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/meiyue.css">
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/start.js"></script>
</head>
<body>
<div class="payment">
    <form method="post" id="orderForm" th:action="@{/startOrder}" action="paycode.html" role="form">
        <input name="card" type="hidden"/>
        <div class="nocard" th:if="${card==null}">
            <a href="addcard.html" th:href="@{/card}">
                <img src="images/addicon.png">绑定银行卡</a>
        </div>
        <div class="card selectedCard" th:if="${card!=null}" th:attr="data-id=${card.id}" data-id="1"
             th:styleappend="${'background:'+card.bank.background}">
            <img src="images/logo-gs.png" th:src="@{${card.bank.imageUri}}">
            <span class="banktxt" th:text="${card.bank.name}">工商银行</span>
            <span th:text="${card.owner}+'｜尾号'+${card.tailNumber}">徐春风｜尾号3490</span>
            <a href="#" name="cardChanger">更换</a>
        </div>
        <div class="all-cards" style="display: none;" th:if="${card!=null}">
            <div class="card" th:each="theCard:${cards}" th:attr="data-id=${theCard.id}" data-id="2"
                 th:styleappend="${'background:'+theCard.bank.background}"
                 style="background: linear-gradient(to right, #3c763d , #3c3c3c);">
                <img src="images/logo-gs.png" th:src="@{${theCard.bank.imageUri}}">
                <span class="banktxt" th:text="${theCard.bank.name}">人民银行（假的!）</span>
                <span th:text="${theCard.owner}+'｜尾号'+${theCard.tailNumber}">徐春风｜尾号8921</span>
                <a href="#" name="cardChooser">选择</a>
            </div>
            <div class="card" th:remove="all" data-id="3"
                 style="background: linear-gradient(to right, #2d6ca2 , #2aabd2);">
                <img src="images/logo-gs.png">
                <span class="banktxt">建设银行</span>
                <span>徐夫人｜尾号8932</span>
                <a href="#" name="cardChooser">选择</a>
            </div>
            <div class="nocard">
                <a href="addcard.html" th:href="@{/card}">
                    <img src="images/addicon.png">添加新银行卡</a>
            </div>

        </div>
        <div class="pay-m">
            <p class="t1">收款金额(元)</p>
            <p class="t2"><i><img src="images/1.png" width="18" height="24"></i>
                <input type="number" placeholder="0.00"
                       id="_content" name="amount"></p>
            <p class="t3"><span id="totalCost">到账金额 0.00</span>
                <t id="totalRate">手续费 0.00</t>
            </p>
        </div>
        <div class="explain">
            <p>温馨提示：<br>
                1. 预计到账时间5-10分钟请耐心等待。<br>
                2. 手续费由付款方支付。<br>
            </p>
        </div>
        <div class="p-15">
            <input value="确定" type="submit" id="_btn1" class="black" name="btn1" disabled="disabled"/>
        </div>
    </form>
</div>
<script src="mock/all.js" th:src="@{/all.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $.bookRate = /*[[${rate}]]*/ 0.006;
</script>
</body>
</html>