body {
    color: #353535;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg {
    background: #EFEFF4;
}

.ratebg {
    background: #ffddaa;
}

.rate {
    position: relative;

}

.rate img {
    width: 100%;
}

.rate h1 {
    padding: 0;
    font-weight: 400;
    text-align: center;
    color: #996536;
    font-size: 15px;
}

.rate .but {
    margin: 10px 40px 0 40px
}

.code-i {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    margin-top: 15px;
}

.code-i .opactiy {
    opacity: 0.7
}
.ewmimg {
    background: #fff;
    border-radius: 6px;
    height: auto;
    margin: 0 54px;
}

.ewmimg .f16 {
    font-size: 16px;
    color: #888;
    padding-top: 10px;
}

.code-i .f15 {
    font-size: 15px;
    color: #000;
    margin-top: -10px;
}

.code-i p {
    margin: 0
}

.code-i .f14 {
    text-align: left;
    font-size: 15px;
    color: #875d30;
    line-height: 40px;
}

.code-i .r16 {
    font-size: 19px;
    color: #ce2020;
}

.code-i .red {
    color: #f56150
}

.ewmimg img {
    width: 100%;
}

.code-i button {
    background: #f65150;
    margin-top: 17px;
}

.code-i ul {
}

.code-i li {
    text-align: center;
    font-size: 14px;
    float: left;
    width: 14.8%;
    margin-right: 15px;
    padding-bottom: 10px;
}

.code-i li img {
    margin: 5px 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.code-i li.ntxt {
    color: #996536;
    padding-top: 3px;
}

.code-i li.ctxt {
    color: #353535
}

.fr {
    float: right;
}

.fr img {
    position: absolute;
    right: 15px;
    width: 9px;
    margin-top: 44px
}

.nav {
    margin-top: 15px;
    background: #f8f8f8;
    border-bottom: 1px solid #dfdfdf
}

.nav ul {
    overflow: hidden;
}

.nav .w1 {
    width: 20%
}

.nav .w2 {
    width: 35%;
}

.nav .w3 {
    width: 45%
}

.nav li {
    text-align: center;
    width: 33.3%;
    float: left;
    line-height: 44px;
    border-top: 1px solid #dfdfdf;
    padding-left: 15px;
}

.navlist {
    background: #fff;
    padding-left: 15px;

}

.navlist ul {
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
}

.navlist li {
    font-size: 15px;
    text-align: center;
    width: 33.3%;
    float: left;
    line-height: 60px;

}

.navlist img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 8px 0 8px -10px
}

.navlist .w1 {
    width: 20%
}

.navlist .w2 {
    width: 35%;
}

.navlist .w3 {
    width: 45%
}

.navlist .green {
    color: #02BB00;
}

.navlist .opactiy li {
    opacity: 0.4
}

.sharebg {
    z-index: 99;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    background: url("../images/sharebg.png");
    text-align: right
}

.sharebg img {
    width: 90%
}

.shareimg {
    display: block;
    height: 40px;
}

.shareimg img {
    width: 45%;
    float: left;
    margin-top: 10px;
}

.shareimg .mt15 {
    margin-right: 15px
}

.yqm {
    width: 106px;
    text-align: center !important;
    margin: 0 auto
}

.yqm_sub {
    color: #ffda8f;
    position: absolute;
    top: 55%
}