body {
    color: #353535;
    background: #EFEFF4;

}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}

/*产品赛选*/

.form-group {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff;
    padding: 7px 15px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.form-group input {
    background: #f6f6f6;
    border-left: 0;
    margin-top: 0;
}

.fa-search {
    color: #888;
}

.input-group-addon {
    background: #f6f6f6;
    border-right: 0;
}

.input-group-addon img {
    width: 12px;
    margin-top: -2px;
}

/* screening */
div.screening {
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: fixed;
    z-index: 4;
    top: 48px;

}

div.screening > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: solid 1px #dfdfdf;
    border-top: solid 1px #dfdfdf;
    overflow: hidden;
}

div.screening > ul > li {
    float: left;
    width: 33.3%;
    text-align: center;
    line-height: 44px;
    border-left: solid 1px #d3d3d3;
    background: url("images/on_1.png") no-repeat 78% center;
    background-size: 11px;
}

/* grade */
.grade-eject, .Category-eject, .Sort-eject {
    position: fixed;
    top: -65%;
    width: 100%;
    height: 65%;
    z-index: 1;
    -webkit-transition-duration: 0.4s;
}

.grade-eject > ul, .Category-eject > ul, .Sort-eject > ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    -webkit-transition-duration: 0.4s;
}

.grade-eject > ul > li, .Category-eject > ul > li, .Sort-eject > ul > li {
    line-height: 44px;
    padding-left: 1rem;
    border-bottom: solid 1px #eee;
    font-size: 13px;
}

.grade-eject > ul.grade-w, .Category-eject > ul.Category-w {
    background: #f8f8f8;
    position: absolute;
    z-index: 1;
}

.grade-eject > ul.grade-t, .Category-eject > ul.Category-t {
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 100%;
}

.grade-eject > ul.grade-t > li, .Category-eject > ul.Category-t > li {
    border-bottom: solid 1px #fff;
}

.grade-eject > ul.grade-s, .Category-eject > ul.Category-s {
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 100%;
    list-style-type: none;
}

.grade-eject > ul.grade-s > li, .Category-eject > ul.Category-s > li {
    border-bottom: solid 1px #eee;
    margin-left: 1rem;
    padding: 0;
}

.grade-w-roll {
    top: 93px;
}

.grade-w-roll::after {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    top: 58px;
}

/* tao-content */
.taolist {
    padding-top: 110px;
    margin-bottom: 65px;
    overflow: hidden;
}

.taolist-clear {
    padding-top: 10px;
}

.taolist dl {
    width: 49%;
    background: #fff;
    margin-bottom: 10px;
}

.taolist dt {
}

.taolist dt img {
    width: 100%;

}

.taolist dd {
    padding: 12px;
    line-height: 16px
}

.taolist dd .txt {
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.taolist dd .cny {
    font-size: 15px;
    color: #f65150;
    margin-left: 4px
}

.taolist dd i {
    font-size: 11px;
}

.taolist dd .text-right {
    color: #b3b3b3;
    font-size: 12px;

}

.taolist dd .fa-cny {
    color: #f65150;
    margin-top: -2px
}

.taolist .mr {
    margin-right: 2%
}

/*Sort-eject*/
.Sort-Sort {
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 0;
    list-style-type: none;
}

.Sort-Sort > li {
    border-bottom: solid 1px #eee;
    padding: 0;
}

.Sort-height {
    height: 343px;
}

.tabfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    height: 90px;
    background-size: 100%;
    overflow: hidden;
    padding-top: 20px;

}

.tabfoot a {
    display: block;
    text-decoration: none;
    color: #353535
}

.tabfoot ul {
    height: 90px;
    margin-top: 20px;
    background: #f8f8f8;
    overflow: hidden;
    border-top: 1px solid #dfdfdf;
}

.tabfoot li {
    width: 33.3%;
    position: absolute;
    float: left;
    text-align: center;
    font-size: 10px;
    padding-top: 7px;
}

.tabfoot .pullc {
    position: absolute;
    left: 33.3%;
    margin-top: -21px;
}

.tabfoot .pullc img {
    width: 45px;
}

.tabfoot .baby {
    position: absolute;
    color: #F65150
}

.tabfoot .baby img {
    width: 22px;
}

.tabfoot .my {
    position: absolute;
    left: 66.6%;
    color: #F65150
}

.tabfoot .my img {
    width: 22px;
}

/*产品详情*/
.details-dy {
}

.details-dy img {
    width: 100%;
}

.details-txt {
    padding: 0 15px;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
    border-top: 1px #dfdfdf solid;
}

.details-txt h4 {
    font-weight: 200;
    color: #353535 !important;
    font-size: 16px;
    margin: 10px 0 8px 0
}

.details-txt .b3b3b3 {
    color: #b3b3b3;
    line-height: 16px;
    font-size: 13px;
}

.details-txt .cny {
    font-size: 21px;
    color: #f65150;
    margin-left: 4px;
    font-weight: 300

}

.details-txt i {
    color: #f65150;
}

.details-txt ul {
    overflow: hidden;
    margin-top: -5px;

}

.details-txt li {
    text-align: left;
    color: #888;
    font-size: 12px;
    width: 33.3%;
    overflow: hidden;
    padding: 0 0 15px 0;
}

.details-av {
    margin: 15px 0 60px 0;
    padding: 0 15px 15px 15px;
    color: #353535;
    background: #fff;
    border-bottom: 1px #dfdfdf solid;
    border-top: 1px #dfdfdf solid
}

.details-av h2 {
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 12px;
    color: #888;
    border-bottom: 1px #dfdfdf solid;
}

.details-av ul {
    overflow: hidden;
    margin-top: -5px
}

.details-av li {
    padding: 10px 0 0 0;
    line-height: 22px;
}

.details-av li.b1 {
}

.details-av li.b1 img {
    width: 32px;
    height: 32px
}

.details-av li.b2 {
    padding-left: 10px;
    line-height: 32px
}

.details-av li.b3 {
    color: #cacaca;
}

.details-txt li.text-right {
    text-align: right
}

.details-txt li.text-center {
    text-align: center
}

.footer-btn {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-btn button {
    border-radius: 0;
    background: #f65150
}

/*添加收货地址*/
.add-sub {
    line-height: 60px;
    background: #FFF;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    color: #007aff;
    font-size: 16px;
    margin-bottom: 20px
}

.add-sub i {
    margin-right: 10px;
}

.add-user {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px
}

.add-user ul {
    overflow: hidden;
    padding: 16px 0 0 0
}

.add-user li {
    text-align: left;
    font-size: 13px;
}

.add-user .map {
    width: 18px;
    margin-top: 13px;
}

.add-user .ricon {
    width: 9px;
    margin-top: 15px;
}

.add-user i {
    color: #cacaca
}

.add-user .f14 {
    font-size: 14px;
}

.shoplist {
    background: #FFF;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 15px;
}

.shoplist .shoper {
    background: #F9F9F9;
    border-bottom: 1px solid #dfdfdf;
    line-height: 44px;
    padding: 0 0 0 15px;
}

.shoplist .shoper .red {
    color: #F6514F;
    margin-right: 15px;

}

.shoplist .shoper i {
    color: #cacaca;
    margin: 0 10px;
}

.shoplist .shoper img {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.shoplist .shoper a {
    text-decoration: none;
}

.shoplist .navlist {
    background: #FFF;
    padding: 0 0 0 15px;
    font-size: 14px;
}

.shoplist .navlist dl {
    padding: 13px 15px 13px 0;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
}

.shoplist .navlist dt {
    color: #888;
    font-weight: 100;
}

.shoplist .navlist dt img {
    width: 60px;
    margin-right: 10px;
}

.shoplist .navlist dd {
    padding: 10px 0 0 0;
    color: #666;
    line-height: 16px;
}

.shoplist .navlist dd i {
    font-size: 13px;
    margin-right: 3px;
    font-weight: 100
}

.shoplist p {
    margin: 0;
}

.shoplist .navlist .and {
    text-align: right;
    font-size: 16px;
    padding: 15px 15px 10px 0
}
.shoplist .navlist input{ border: 1px solid #dfdfdf}
.shoplist .with {
    font-size: 16px;
    padding: 13px 0 13px 0;
}

.shoplist .with i {
    color: #f75756;
    font-size: 14px;
    margin-right: 2px;
}

.shoplist .with a {
    font-size: 14px;
    margin-right: 10px;
    padding: 3px 15px;
    text-decoration: none;
    border-radius: 4px;
}

.black {
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #353535
}

.red-s {
    background: #F65150;
    border: 1px solid #F65150;
    color: #fff;
    margin-right: 5px;
}

.shoplist .navlist .and i {
    color: #f75756;
    font-size: 14px;
    margin-right: 2px;
}

.shoplist .navlist .orderand {
    padding: 15px 10px 20px 0
}

.shoplist .navlist .orderand i {
    color: #f75756;
}

.shoplist .navlist .clear {
    padding-top: 0
}

.shoplist .navlist .cny {
}

.shoplist .navlist .cny-red {
    color: #f75756;
    font-size: 16px;
}

.shoplist .navlist .w60 {
    width: 61%
}

.jia {
}

.jia img {
    width: 22px;
    margin-top: -2px;
}

.jia input {
    height: 24px;
    width: 50px;
    text-align: center;
    margin-top: -3px
}

.address {
}

.address ul {
    padding: 15px 0 13px 0;
    background: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf
}

.address li {
    padding: 0 15px
}

.address .f14 {
    font-size: 14px;
}

.address .f13 {
    font-size: 13px;
    margin-top: 5px;
}

.address img {
    width: 17px;
    margin-left: 15px;
    margin-top: -3px;
    margin-right: 5px;
}

.address .h40 {
    border-top: 1px solid #dfdfdf;
    margin-top: 15px;
    padding-top: 10px
}

.address .h40 input {
    margin-right: 5px;
}

.address .h40 a {
    color: #888;
    text-decoration: none;
    padding: 10px 0
}

.editshow {
}

.editshow h1 {
    text-align: center;
    font-size: 15px;
    color: #000
}

.editshow .line-r {
    border-right: 1px solid #dfdfdf;
}

.editshow button {
    color: #0079FF;
    font-size: 17px;
    border: 0;
    background: none;
    text-decoration: none;
    line-height: 44px;
    width: 49%
}

.editshow .footer {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #dfdfdf
}

.delet {
    margin: 80px 10px 0 10px
}

.edit {
    padding: 0 0 0 15px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf
}

.edit ul {
}

.edit li {
    line-height: 44px;
    color: #000;
    font-size: 15px;
    overflow: hidden;;
    display: block;
}

.edit .av-d {
}

.edit .av-d img {
    width: 54px;
    height: 54px;
    border-radius: 54px;
}

.edit .bo-b {
    border-bottom: 1px solid #dfdfdf
}

.edit a {
    color: #888;
    display: block;
    text-decoration: none
}

.edit input {
    border: 0;
    width: 90%;
    line-height: 30px;
    height: 44px;
}

.edit .a2 textarea {
    border: 0;
    width: 96%;
    padding-top: 8px;
    height: 70px;
    line-height: 26px;
}

.edit .m-1 {
    margin-top: -1px;
}

.f-per select {
    background: none;
    text-align: left !important;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    border: 0;
}

.f-per .select {
    width: 110%;
    background: none;
    border: none;
}

.f-per .select2 {
    width: 120%;
    background: none;
    border: none;
}

.f-per .select3 {
    width: 120%;
    text-align: center;
    padding-left: 10px;
    background: none;
    border: none;
}

.f-per .icon {
    width: 25px
}

.f-per .icon img {
    width: 20px;
    margin: -2px 0 0 0;
}

.sleHid {
    display: block;
    overflow: hidden;
}

.sleBG {
    border-right: none;
    float: left;
    display: block;
}

.f-per label {
    color: #888;
    width: 95px;
    font-weight: 400;
    font-size: 14px;
}

.f-per .s1 {
    width: 28%;
    background: url(images/Path.png) no-repeat right;
    background-size: 10px 6px;
}

.f-per .s2 {
    width: 28%;
    background: url(images/Path.png) no-repeat right;
    background-size: 10px 6px;
}

.f-per .s3 {
    width: 28%;
    text-align: right;
    background: url(images/Path.png) no-repeat right;
    background-size: 10px 6px;
}

.save {
    background: #F65150;
    border-radius: 6px;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    margin: 30px 15px;
}

.save a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.see {
    background: #fcfcfc;
    border-radius: 6px;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    margin: 30px 15px;
    border: 1px solid #C7C7C7
}

.see a {
    color: #353535;
    text-decoration: none;
    display: block;
}
.tabbuy {
    background: #fff;
    margin-bottom: 15px;
}

.tabbuy ul {
    overflow: hidden;
    border-bottom: 1px #dfdfdf solid
}

.tabbuy li {
    width: 50%;
    float: left;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
}

.tabbuy a {
    color: #888;
    text-decoration: none;
    display: block
}

.tabbuy .curr {
    border-bottom: 2px solid #F65150;
    color: #F65150;
    padding-top: -2px;
}

.tabbuy .curr a {
    color: #F65150;
}

.right-img {
    width: 8px !important;
    height: 12px !important;
    margin-left: 8px;
}

.payadd {
    text-align: center;
    margin-bottom: 15px;
    background: #fff;
    color: #007AFF;
    line-height: 44px;
    border-bottom: 1px solid #dfdfdf
}
.payadd a{ text-decoration: none}
.payadd img {
    width: 16px;
    margin: -2px 10px 0 0
}

.am-show {
    font-size: 14px;
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    width: 100%;
    z-index: 1110;
}

.am-modal-active {
    transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
}

.am-modal-out {
    z-index: 1109;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.am-show-footer {
    margin: 10px 25px;
}

.am-show-footer .delete_btn {
    font-size: 17px;
    color: #353535;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.625em 0;
    text-align: center;
}

.am-show-footer .close-btn {
    font-size: 17px;
    color: #0079FF;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 400;
    line-height: 1.6;
    padding: 0.625em 0;
    text-align: center;
}

.am-show-footer a {
    text-decoration: none
}

.showbg {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

.showbg-active {
    opacity: 1;
    display: block;
}

.photop {
    z-index: 99;
}

.photop img {
    width: 220px
}

.topay {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}

.topay h1 {
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    margin: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 300;
}

.topay li {
    overflow: hidden;
    margin: 0 15px;
    color: #353535;
    line-height: 44px;
    text-align: left
}

.topay li img {
    width: 26px;
    margin-right: 5px;
}

.topay .bo-b {
    border-bottom: 1px solid #dfdfdf;
}

.topay a {
    display: block;
    text-decoration: none;
    color: #353535
}

.big15 {
    display: block;
}

.big15 img {
    width: 15px !important;
}

.photo {
}

.photo ul {
}

.photo li {
    position: relative;
    float: left;
    margin: 4px;
}

.photo li img {
    width: 75px;
    height: 75px;
}

.photo .curr {
    position: absolute;
    right: 1px;
    top: 0;
}

.photo .curr img {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.footer-fix {
    background: #EFEFF4;
    border-top: 1px solid #dfdfdf;
    width: 100%;
    position: fixed;
    line-height: 44px;
    padding: 0 15px;
    bottom: 0;
}

.whitebg {
    background: #fff;
}

.footer-fix a {
    text-decoration: none;
    border-radius: 4px;
    background: #F65150;
    color: #fff;
    padding: 5px 15px;
}

.pull {
    padding: 15px 0 15px 15px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    margin-bottom: 15px;
}

.pull input {
    border: 0;
    width: 86%;
    margin-bottom: 10px;
}

.pull textarea {
    border: 0;
    width: 96%;
    height: 86px;
}

.pull .bo-r {
    border-bottom: 1px solid #dfdfdf
}

.pull label {
    color: #888;
    margin-right: 10px;
}

.pullimg {
    background: #fff;
}

.pullimg img {
    width: 68px;
    height: 68px;
    border: 1px solid #f4f4f4
}

.pullimg ul {
    overflow: hidden;
}

.pullimg li {
    overflow: hidden;
    margin: 3px;
    position: relative;
    float: left;
}

.curr img {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.pulltxt {
    background: #fff;
    padding-left: 15px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.pulltxt ul {
}

.pulltxt li {
    line-height: 44px
}

.pulltxt .bo-r {
    border-bottom: 1px solid #dfdfdf
}

.pulltxt img {
    float: right;
    width: 8px;
    margin-top: 15px;
    margin-right: 15px;
}

.agreefix {
    padding: 9px 5px 9px 15px;
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0;
    background: #f3f3f3;
    border-top: 1px solid #dfdfdf;
    font-size: 18px;
}

.agreefix .redpay {

}

.agreefix .redpay a {
    text-decoration: none;
    display: block;
    float: left;
    width: 46%;
    line-height: 42px;
    text-align: center;
    margin: 0 5px;
    background: #F65150;
    border-radius: 6px;
    color: #fff
}

.agreefix .white {

}
.agreefix .white a {
    text-decoration: none;
    display: block;
    float: left;
    width: 46%;
    line-height: 42px;
    text-align: center;
    margin: 0 5px;
    background: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    color: #353535
}
.mb120 {
    margin-bottom: 120px
}
.mb60 {
    margin-bottom: 60px
}
.over {
    text-align: center;
    margin-bottom: 30px;
    padding: 80px 15px 0 15px;
}

.over .o1 {
}

.over .o1 img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.over .o2 {
    font-size: 17px;
}

.over .o3 {
    font-size: 13px;
    color: #888
}

.over .ted {
    color: #ff0000;
    font-size: 16px;
}

.over .o4 {
}

.over .o4 img {
    width: 125px
}

.over .o5 {
    color: #ff0000;
    font-size: 14px;
    padding: 0 3px;
}
