<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wx="http://weixin.jiangcai.me" xmlns:res="http://resource.jiangcai.me"
      lang="en">
<!--/*@thymesVar id="goods" type="me.jiangcai.dating.entity.sale.TicketGoods"*/-->
<!--/*@thymesVar id="info" type="me.jiangcai.dating.model.TicketInfo"*/-->
<!--/*@thymesVar id="#cashStrings" type="me.jiangcai.dating.service.CashStrings"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>商品详情</title>
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/sale.css">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery.loadingoverlay.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery.loadingoverlay_progress.min.js"></script>
    <script src="../dist/js/share.js?v=1"></script>
    <script src="../mock/all.js" th:src="@{/all.js}"></script>
    <script src="js/payfor.js"></script>
</head>
<body >
<div class="details-dy"><div class="Soldout">此商品已售完</div><img src="images/12.png" res:src="${goods.titleGoodsImage.defaultImage.resourcePath}" alt=""/>
</div>
<div class="details-txt">
    <h4 th:text="${goods.name}">星巴克8折优惠券</h4>
    <p><span class="cny" th:text="${#cashStrings.mallPrice(goods.price)}">28</span>
        <s class="f12" th:text="${goods.subPrice}">原价:35-41元不等</s>
        <span class="pull-right f12 mt10" th:text="${'有效期至'+#temporals.format(info.expiredDate)}">有效期至2017-1-13</span>
    </p>
</div>
<div class="details">
    <h1>购买须知</h1>
    <p th:utext="${goods.notes}">• 可+3元升级成超大杯 <br>
        • 不可与店内其他优惠同享<br>
        • 不可换购其他甜品<br>
        • 一人可购买多张券<br>
        • 券的使用期限以券上的截止日期为准<br>
        • 此优惠券全国通用</p>
</div>
<div class="details mt65">
    <h1>图文详情</h1>
    <p th:utext="${goods.richDetail}">
        <img src="images/24.png" alt="星巴克详情图片"/>
        <img src="images/25.png" alt="星巴克详情图片"/>
    </p>
</div>
<div class="footer-btn" id="readyToBuy" onclick="toshow()">
    <button type="button" class="btn btn-danger btn-lg btn-block">立即购买</button>
</div>
<!-- 产品售馨按钮不可点击 -->
<div class="footer-btn-c" >
    <button type="button" disabled>5000杯已售完</button>
</div>
<div class="am-show saleshow">
    <ul>
        <li class="close-n bm-b"><img src="images/wrongicon.png"/></li>
        <li class="img-s"><img src="images/12.png" res:src="${goods.titleGoodsImage.defaultImage.resourcePath}"/>
            <p th:text="${goods.name}">星巴克8折优惠券</p>
            <span class="cny" id="price_item_1" th:text="${'¥'+#cashStrings.mallPrice(goods.price)}">¥28.00</span>
        </li>
        <li><p>规格</p><a href="#" class="curr">大杯</a></li>
        <li>购买数量
            <span class="num">
                <a class="reduce" onClick="setAmount.reduce('#qty_item_1')" href="javascript:void(0)">-</a>
            <input type="tel" name="qty_item_1" value="1" id="qty_item_1" onKeyUp="setAmount.modify('#qty_item_1')"
                   class="text" readonly="readonly"/>
            <a class="add" onClick="setAmount.add('#qty_item_1')" href="javascript:void(0)">+</a></span></li>
        <li class="bm-b">合计： <span class="cny" id="total_item_1">21.6</span></li>
    </ul>
    <!--onclick="window.location.href='cardplay.html'"-->
    <div class="submitorder" id="orderCreator" th:href="@{/sale/showOrder}" href="cardplay.html?id=1"
         data-id="999" th:attr="data-id=${goods.id}">
        <button type="button" class="btn btn-danger btn-lg btn-block">提交订单</button>
    </div>
</div>

<script wx:js=""></script>
<script wx:share="${goods.name}|${goods.description}|${#share.link(#authentication.getDetails(),goods,#request)}|${#share.imageUrl(goods)}"></script>
<script type="text/javascript">
    $(function () {
        const orderCreator = $('#orderCreator');
        orderCreator.click(function () {
//            window.location.href = orderCreator.attr('href') + '&count=' + $('#qty_item_1').val();
// 分开2个步骤 建立订单，然后是打开订单
//            console.log('kill me');
            $.LoadingOverlay("show");
            $.ajax($.uriPrefix + '/sale/createOrder', {
                method: 'post',
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify({
                    count: $('#qty_item_1').val(),
                    id: orderCreator.attr('data-id')
                }),
                error: function (rep) {
                    $.StopLoadingOverlay(function () {
                        alert(rep.responseText);
// 如果是原型模式，继续展开页面
                        if ($.prototypesMode)
                            window.location.href = orderCreator.attr('href');
                    });
                },
                success: function (tradeId) {
                    $.StopLoadingOverlay(function () {
                        window.location.href = orderCreator.attr('href') + '?id=' + tradeId;
                    });
                }
            });
        });
    });
    function toshow() {
        $(".am-show").addClass("am-modal-active");

        if ($(".showebg").length > 0) {
            $(".showbg").addClass("showbg-active");
        } else {
            $("body").append('<div class="showbg"></div>');
            $(".showbg").addClass("showbg-active");

        }
        $(".showbg,.close-n").click(function () {
            $(".am-show").removeClass("am-modal-active");
            setTimeout(function () {
                $(".showbg-active").removeClass("showbg-active");
                $(".showbg").remove();
                $('html,body').removeClass('ovfHiden');
            }, 300);
        });
        $('html,body').addClass('ovfHiden');

        return false;
    }

</script>

</body>
</html>