<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:res="http://resource.jiangcai.me" lang="en">
<!--/*@thymesVar id="usedCodes" type="java.util.List<me.jiangcai.dating.entity.sale.TicketCode>"*/-->
<!--/*@thymesVar id="usableCodes" type="java.util.List<me.jiangcai.dating.entity.sale.TicketCode>"*/-->
<!--/*@thymesVar id="#cashStrings" type="me.jiangcai.dating.service.CashStrings"*/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/sale.css">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <title>我的</title>
</head>
<body>
<div class="my-c">
    <h1 onclick="window.location.href='myorder.html'">我的订单
        <span class="pull-right f14">查看全部订单
            <img src="images/blackright-r.png"/></span></h1>
    <ul>
        <li>
            <a href="#" >
                <img src="images/payicon.png"/>待付款
            </a>
            <a href="#">
                <img src="images/payicon2.png"/>待发货
            </a>
            <a href="#">
                <img src="images/payicon3.png"/>待收货
            </a>
        </li>
    </ul>
</div>

<div class="cardtab">
    <ul>
        <h1>我的卡券</h1>
        <li>
            <a href="#" class="current u">未使用</a>
            <a href="#" class="n">已使用</a>
        </li>
        <li class="ts" >注: 点击【立即使用】, 优惠券将被放入【已使用】中<img src="images/wrongicon2.png" class="close-x"/></li>
        <li class="ts2">注: 如未真实消费，优惠券依然有效<img src="images/wrongicon2.png" class="close-x"/></li>
    </ul>
</div>
<div class="mt65">
<div class="navlist nouse">
    <ul onclick="window.location.href='mycoupons.html'" th:each="code:${usableCodes}">
        <li>
            <img src="images/2.png" res:src="${code.batch.goods.titleGoodsImage.defaultImage.resourcePath}"/>
            <p>&nbsp;</p>
            <h1 th:text="${code.batch.goods.name}">星巴克大杯优惠券</h1>
        </li>
        <li class="time">有效期至<span th:text="${{code.batch.expiredDate}}">2016-01-05</span></li>
    </ul>
    <ul th:remove="all">
        <li><img src="images/8.png"/>
            <p>星巴克星巴克星巴克星巴克星巴克星巴克星巴克星巴克星巴克星巴克</p>
            <h1>星巴克大杯优惠券星巴克大杯优惠券星巴克大杯优惠券星巴克大杯优惠券</h1></li>
        <li class="time">有效期2016-12-10至2016-01-05</li>
    </ul>
</div>
<div class="navlist douse no">
    <ul onclick="window.location.href='mycouponsclose.html'" th:each="code:${usedCodes}">
        <li><img src="images/8.png" res:src="${code.batch.goods.titleGoodsImage.defaultImage.resourcePath}"
                 class="gray"/>
            <p>&nbsp;</p>
            <h1 th:text="${code.batch.goods.name}">星巴克大杯优惠券</h1>
        </li>
        <li class="time">有效期至<span th:text="${{code.batch.expiredDate}}">2016-01-05</span></li>
    </ul>
    <ul th:remove="all">
        <li><img src="images/8.png" class="gray"/>
            <p>星巴克星巴克星巴克星巴克星巴克星巴克星巴克星巴克星巴克星巴克</p>
            <h1>星巴克大杯优惠券星巴克大杯优惠券星巴克大杯优惠券星巴克大杯优惠券</h1></li>
        <li class="time">有效期2016-12-10至2016-01-05</li>
    </ul>
</div>
</div>
<div class="fixe" th:replace="sale/fragment/foot.html :: foot (active='my')">
    <ul>
        <li><a href="saleindex.html"><img src="images/sale-icon.png"/>特卖</a></li>
        <li><a href="http://www.kuanyes.com/wholesale/wholesale.html"><img src="images/whosle-icon.png"/>批发</a></li>
        <li class="b3"><img src="images/huan-icon.png"/>二手</li>
        <li><img src="images/my-icon2.png"/>我的</li>
    </ul>
</div>
<script>
    $(".cardtab li a").click(function () {
        $(".current").removeClass("current");
        if ($(this).hasClass("current")) {
            $(this).removeClass("current");
        } else {
            $(this).addClass("current");
        }
        return false;
    });
    $(".u").click(function (event) {
        $(".nouse").css({"display": "block"});
        $(".douse").css({"display": "none"});
        $(".ts").css({"display": "block"});
        $(".ts2").css({"display": "none"});
    });
    $(".n").click(function (event) {
        $(".douse").css({"display": "block"});
        $(".nouse").css({"display": "none"});
        $(".ts2").css({"display": "block"});
        $(".ts").css({"display": "none"});
    });
    $(".close-x").click(function(event){
        $(".ts").css({"display":"none"});
        $(".ts2").css({"display":"none"});
    });
</script>
</body>
</html>