<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" href="../../css/manage.css" th:href="@{/css/manage.css}">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdn.kuanyes.com/bootstrap-3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-table-1.11.0/bootstrap-table.min.css">
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/bootstrap-table-locale-all.min.js"></script>
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/extensions/editable/bootstrap-table-editable.min.js"></script>
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/extensions/export/bootstrap-table-export.min.js"></script>

    <link rel="stylesheet" href="//cdn.kuanyes.com/jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="//cdn.kuanyes.com/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery-validation-1.15.0/jquery.validate.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery-validation-1.15.0/localization/messages_zh.js"></script>

    <script src="../../dist/js/share.js" th:src="@{/dist/js/share.js}"></script>
    <script src="../../mock/all.js" th:src="@{/all.js}"></script>
    <script th:replace="fragment/auth.html::code"></script>
    <script src="../../js/manage.js" th:src="@{/js/manage.js}"></script>
</head>
<body>
<div class="header"></div>

<!--/*@thymesVar id="batchedGoods" type="me.jiangcai.dating.entity.sale.CashGoods"*/-->
<fieldset th:if="${batchedGoods!=null}">
    <legend><span th:text="${batchedGoods.brand}">某品牌</span><span th:text="${batchedGoods.name}">某商品</span>的新库存批次
    </legend>
    <ul>
        <li>增加有效数量:<!--/*@thymesVar id="count" type="java.lang.Integer"*/-->
            <span th:text="${count}">count</span></li>
        <li th:if="${failedUrl!=null}"><!--/*@thymesVar id="failedUrl" type="java.lang.String"*/-->
            <a href="../../images/a-img1.png" th:href="${failedUrl}">下载本次上传无效的卡券包</a></li>
    </ul>
</fieldset>
<p>


</p>

<div id="toolbar">
    <button id="stockAddButton" sec:authorize="hasAnyRole('SALE_STOCK','ROOT') " class="btn btn-danger" disabled>
        <i class="glyphicon glyphicon-plus"></i> 添加库存批次
    </button>
    <button id="enableButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') " class="btn btn-danger enableChange"
            data-value="true" disabled>
        <i class="glyphicon glyphicon-ok-sign"></i> 上架
    </button>
    <button id="disableButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') " class="btn btn-danger enableChange"
            data-value="false" disabled>
        <i class="glyphicon glyphicon-remove-sign"></i> 下架
    </button>
</div>

<div class="modal fade" id="stockAddRegion" tabindex="-1" role="dialog" aria-labelledby="stockAddRegionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="goods.html" method="get" th:action="@{/manage/goods/batch}" th:method="post"
                  enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="stockAddRegionLabel">添加<span id="stockAddRegionTitle">商品</span>库存</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="goodsId" value="123"/>
                    <label>
                        过期时间:
                        <input type="text" name="expiredDate" size="10" required/>
                    </label>
                    <br/>
                    <label>
                        备注:
                        <input type="text" name="comment"/>
                    </label>
                    <br/>
                    <label>
                        上传卡券压缩包:
                        <input type="file" name="file" accept="application/zip" required/>
                    </label>
                    <strong style="color: #843534">处理需时，请耐心等候，切勿关闭本窗口。</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<table id="table"
       data-url="../../mock/goods.json"
       th:attr="data-url=@{/manage/goods/data}"
       data-page-list="[10, 25, 50]"
       data-toolbar="#toolbar"
       data-single-select="true"
></table>

<script>
    $(function () {
        var table = $('#table');
        var stockAddButton = $('#stockAddButton');
        var enableButton = $('#enableButton');
        var disableButton = $('#disableButton');
        var stockAddRegion = $('#stockAddRegion');
        var goodsId = $('[name=goodsId]', stockAddRegion);
        var expiredDate = $('[name=expiredDate]', stockAddRegion);

        expiredDate.datepicker();
        expiredDate.datepicker("option", "dateFormat", 'yy-m-d');

        var idSupplier = $.initTable(table, 'id', function () {
            return $(window).height() - $('.header').outerHeight(true);
        }, [
            {
                field: 'state',
                checkbox: true,
                align: 'center'
            }, {
                title: '类型',
                field: 'type',
                align: 'center'
//            }, {
//                title: '&nbsp;',
//                field: 'imageUrl',
//                align: 'center',
//                formatter: $.Manage.headImageRenderer
            }, {
                title: '已上架',
                field: 'enable',
                formatter: $.Manage.enableRenderer,
                align: 'center'
            }, {
                title: '品牌',
                field: 'brand',
                align: 'center',
                sortable: true
            }, {
                title: '名称',
                field: 'name',
                align: 'center',
                sortable: true
            }, {
                title: '描述',
                field: 'description',
                align: 'center',
                sortable: true
            }, {
                title: '售价',
                field: 'price',
                align: 'right',
                sortable: true
            }, {
                title: '原价',
                field: 'subPrice',
                sortable: true
            }, {
                title: '库存',
                field: 'stock',
                sortable: true
            }
        ], stockAddButton.add(enableButton).add(disableButton), function (buttons, currentSelections) {
            stockAddButton.prop('disabled', currentSelections[0].type != '卡券类');
            enableButton.prop('disabled', currentSelections[0].enable);
            disableButton.prop('disabled', !currentSelections[0].enable);
        });

        stockAddButton.click(function () {
            var data = table.bootstrapTable('getRowByUniqueId', idSupplier());
            goodsId.val(data.id);
            $('#stockAddRegionTitle').text(data.name);
            stockAddRegion.modal();
        });

        $('.enableChange').click(function () {
            // 设置enable状态
            $.ajax($.uriPrefix + '/manage/goods/' + idSupplier() + '/enable', {
                method: 'put',
                contentType: 'text/plain',
                data: $(this).attr('data-value'),
                success: function () {
                    table.bootstrapTable('refresh');
                }, error: function () {
                    table.bootstrapTable('refresh');
                }
            });
        });

    });
</script>
</body>
</html>