<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" href="../../css/manage.css" th:href="@{/css/manage.css}">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdn.kuanyes.com/bootstrap-3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-table-1.11.0/bootstrap-table.min.css">
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/bootstrap-table-locale-all.min.js"></script>
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/extensions/editable/bootstrap-table-editable.min.js"></script>
    <script src="//cdn.kuanyes.com/bootstrap-table-1.11.0/extensions/export/bootstrap-table-export.min.js"></script>

    <link rel="stylesheet" href="//cdn.kuanyes.com/jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="//cdn.kuanyes.com/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery-validation-1.15.0/jquery.validate.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery-validation-1.15.0/localization/messages_zh.js"></script>

    <script src="//cdn.kuanyes.com/jquery-fine-uploader/5.10.0/jquery.fine-uploader.min.js"></script>
    <link rel="stylesheet" href="//cdn.kuanyes.com/jquery-fine-uploader/5.10.0/fine-uploader-new.min.css"
          property=""/>

    <script src="../../dist/js/share.js" th:src="@{/dist/js/share.js}"></script>
    <script src="../../mock/all.js" th:src="@{/all.js}"></script>
    <script th:replace="fragment/auth.html::code"></script>
    <script src="../../js/manage.js" th:src="@{/js/manage.js}"></script>
</head>
<body>
<div class="header"></div>

<!--/*@thymesVar id="batchedGoods" type="me.jiangcai.dating.entity.sale.CashGoods"*/-->
<fieldset th:if="${batchedGoods!=null}">
    <legend><span th:text="${batchedGoods.brand}">某品牌</span><span th:text="${batchedGoods.name}">某商品</span>的新库存批次
    </legend>
    <ul>
        <li>增加有效数量:<!--/*@thymesVar id="count" type="java.lang.Integer"*/-->
            <span th:text="${count}">count</span></li>
        <li th:if="${failedUrl!=null}"><!--/*@thymesVar id="failedUrl" type="java.lang.String"*/-->
            <a href="../../images/a-img1.png" th:href="${failedUrl}">下载本次上传无效的卡券包</a></li>
    </ul>
</fieldset>
<p>


</p>

<div id="toolbar">
    <button id="stockAddButton" sec:authorize="hasAnyRole('SALE_STOCK','ROOT') " class="btn btn-danger" disabled>
        <i class="glyphicon glyphicon-plus"></i> 添加库存批次
    </button>
    <button id="enableButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') " class="btn btn-danger enableChange"
            data-value="true" disabled>
        <i class="glyphicon glyphicon-ok-sign"></i> 上架
    </button>
    <button id="disableButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') " class="btn btn-danger enableChange"
            data-value="false" disabled>
        <i class="glyphicon glyphicon-remove-sign"></i> 下架
    </button>
    <button id="editButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') " class="btn btn-danger" disabled>
        <i class="glyphicon glyphicon-edit"></i> 编辑
    </button>
    <button th:src="@{/manage/goods/images/}" id="imageButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') "
            class="btn btn-danger" disabled>
        <i class="glyphicon glyphicon-camera"></i> 图片管理
    </button>
</div>

<div class="modal fade" id="goodsImagesRegion" tabindex="-1" role="dialog" aria-labelledby="goodsImagesRegionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="goodsImagesRegionLabel">修改<span id="goodsImagesRegionLabelTitle">商品</span>图片
                </h4>
            </div>
            <div class="modal-body">
                <div id="items-uploader"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="拖拽至此添加图片">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button">
                <div>选择文件</div>
            </div>
            <!--<button type="button" id="trigger-upload" class="btn qq-upload-button">-->
            <!--<i class="icon-upload icon-white"></i> 上传-->
            <!--</button>-->
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
                                <span>处理中...</span>
                                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                            </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="编辑名称"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">取消</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">重试</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">删除</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">关闭</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">否</button>
                <button type="button" class="qq-ok-button-selector">是</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">取消</button>
                <button type="button" class="qq-ok-button-selector">确定</button>
            </div>
        </dialog>
    </div>
</script>


<div class="modal fade" id="goodsEditRegion" tabindex="-1" role="dialog" aria-labelledby="goodsEditRegionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="goods.html" method="get" th:action="@{/manage/goods}" th:method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="goodsEditRegionLabel">修改<span id="goodsEditRegionTitle">商品</span></h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="goodsId" value="123"/>
                    <label>
                        名称:
                        <input type="text" name="name" size="10" required/>
                    </label>
                    <label>
                        品牌:
                        <input type="text" name="brand" size="10" required/>
                    </label>
                    <label>
                        简述:
                        <input type="text" name="description" size="50" required/>
                    </label>
                    <label>
                        售价:
                        <input type="number" name="price" size="10" step="0.01" required/>
                    </label>
                    <label>
                        原价:
                        <input type="text" name="subPrice" size="10" required/>
                    </label>
                    <label>
                        权重:
                        <input style="width: 45px" title="权重值高则显示越靠前" type="number" step="1" required name="weight"/>
                    </label>
                    <label>
                        爆款
                        <input type="checkbox" name="hot"/>
                    </label>
                    <label>
                        新品
                        <input type="checkbox" name="freshly"/>
                    </label>
                    <label>
                        特卖
                        <input type="checkbox" name="special"/>
                    </label>
                    <br/>
                    <label>
                        富文本说明:
                        <textarea class="editor" name="richDetail"></textarea>
                    </label>
                    <br/>
                    <label class="specialGoodsProperty">
                        购买须知:
                        <textarea class="editor" name="notes"></textarea>
                    </label>
                    <label class="specialGoodsProperty">
                        销量:
                        <input type="number" step="1" min="0" required name="sales"/>
                    </label>
                    <label class="specialGoodsProperty">
                        库存:
                        <input type="number" step="1" min="0" required name="stock"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="stockAddRegion" tabindex="-1" role="dialog" aria-labelledby="stockAddRegionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="goods.html" method="get" th:action="@{/manage/goods/batch}" th:method="post"
                  enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="stockAddRegionLabel">添加<span id="stockAddRegionTitle">商品</span>库存</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="goodsId" value="123"/>
                    <label>
                        过期时间:
                        <input type="text" name="expiredDate" size="10" required/>
                    </label>
                    <br/>
                    <label>
                        备注:
                        <input type="text" name="comment"/>
                    </label>
                    <br/>
                    <label>
                        上传卡券压缩包:
                        <input type="file" name="file" accept="application/zip" required/>
                    </label>
                    <strong style="color: #843534">处理需时，请耐心等候，切勿关闭本窗口。</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="addGoodsRegion" tabindex="-1" role="dialog" aria-labelledby="addGoodsRegionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="goods.html" method="get" th:action="@{/manage/goods/addition}" th:method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="addGoodsRegionLabel">新增商品</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>商品类型</legend>
                        <label for="radio-1">伪类</label>
                        <input type="radio" value="FakeGoods" required name="javaClass" id="radio-1">
                    </fieldset>
                    <fieldset>
                        <legend>商品数据</legend>
                        <label>
                            名称:
                            <input type="text" name="name" size="10" required/>
                        </label>
                        <label>
                            售价:
                            <input type="number" name="price" size="10" step="0.01" required/>
                        </label>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<table id="table"
       data-url="../../mock/goods.json"
       th:attr="data-url=@{/manage/goods/data}"
       data-page-list="[10, 25, 50]"
       data-toolbar="#toolbar"
       data-single-select="true"
></table>

<div>
    <button id="addGoodsButton" sec:authorize="hasAnyRole('SALE_GOODS','ROOT') " class="btn btn-danger">
        <i class="glyphicon glyphicon-plus"></i> 新增商品
    </button>
</div>

<script src="../../js/manage/goods.js" th:src="@{/js/manage/goods.js}"></script>
<script src="//editor.kuanyes.com/ckeditor.js"></script>
</body>
</html>