<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <script src="//cdn.kuanyes.com/gritter-1.7.4/js/jquery.gritter.min.js"></script>
    <link href="//cdn.kuanyes.com/gritter-1.7.4/css/jquery.gritter.css" rel="stylesheet" property=""/>
    <script src="js/pageSwitch.min.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/pageSwitch.min.css">
    <title>款爷商城</title>
</head>
<body>
<script th:replace="/mall/fragment/toolbar.html::all"></script>

<th:block th:replace="/mall/fragment/toolbar.html::pageHeader">
    <div class="toolbar">
        <div class="w1200">
            <ul class="fr">
                <li>欢迎来到款爷商城</li>
                <li class="lt">|</li>
                <li><a href="login.html" name="loginLink">登陆</a></li>
                <li class="lt">|</li>
                <li><a href="register.html" name="registerLink">免费注册</a></li>
            </ul>
        </div>
    </div>
    <div class="index-head">
        <div class="w1200">
            <div class="logo"><img src="images/logo.png"/></div>
            <div class="search"><input placeholder="请输入你想找得宝贝"><span class="stxt">搜索</span></div>
        </div>
    </div>
</th:block>


<div class="mainnav">
    <div class="w1200">
        <ul>
            <li class="navigation"><a href="index.html"> 全部商品</a></li>
            <li><a href="hot.html">爆品</a></li>
            <li><a href="sale.html">特卖</a></li>
        </ul>
    </div>

</div>
<div class="w1200">
    <div class="newicon">
        <ul>
            <li><a href="nz.html" class="s1">女装</a><span class="fl f12">|</span><a href="#" class="s2">男装</a></li>
            <li><a href="#" class="s3">鞋子</a><span class="fl f12">|</span><a href="#" class="s4">箱包</a></li>
            <li><a href="#" class="s5">母婴</a><span class="fl f12">|</span><a href="#" class="s6">美妆</a></li>
            <li><a href="#" class="s7">内衣</a><span class="fl f12">|</span><a href="#" class="s8">美食</a></li>
            <li><a href="#" class="s9">家具</a><span class="fl f12">|</span><a href="#" class="s10">文具</a></li>
        </ul>
        <p><img src="images/tel-kh.png" alt="客服电话"/></p>

    </div>
</div>
<div class="banner">
    <div class="sections">
        <div class="section section0" onclick="location='details.html'"><h3></h3></div>
        <div class="section section1"><h3></h3></div>
        <div class="section section2"><h3></h3></div>
        <div class="section section3"><h3></h3></div>
    </div>
</div>
<div class="w1200">
    <div class="newpic"><img src="images/icon_new.png"/></div>
</div>
<div class="w1200">
    <div class="sale">
        <ul onclick="location='details.html'">
            <li><img src="images/14885394034747.jpeg"/></li>
            <li><span class="f30">9.6<span class="f16">折</span></span><span class="f20">中国石油卡</span><span
                    class="f12 fr">已售12222张</span></li>
        </ul>
        <ul>
            <li><img src="images/14885394034747.jpeg"/></li>
            <li><span class="f30">9.6<span class="f16">折</span></span><span class="f20">中国石油卡</span><span
                    class="f12 fr">已售12222张</span></li>
        </ul>
        <ul>
            <li><img src="images/14885394034747.jpeg"/></li>
            <li><span class="f30">9.6<span class="f16">折</span></span><span class="f20">中国石油卡</span><span
                    class="f12 fr">已售12222张</span></li>
        </ul>
        <ul>
            <li><img src="images/14885394034747.jpeg"/></li>
            <li><span class="f30">9.6<span class="f16">折</span></span><span class="f20">中国石油卡</span><span
                    class="f12 fr">已售12222张</span></li>
        </ul>
    </div>
</div>
<div class="w1200">
    <div class="goodlist">
        <div class="page">
            <a href="#" class="curr">最新</a>
            <a href="#">价格从低到高</a>
            <a href="#">价格从高到低</a>
        </div>
        <div class="pic">
            <ul>
                <li><a href="details.html"><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>68</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </a>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
                <li><p><img src="images/temp.jpeg"/></p>
                    <p class="f14">男女士冰丝防晒袖套男女士冰丝防</p>
                    <p><span class="f40"><em>￥</em>48</span><span class="price-old"><em>￥</em>28 (1.7折)</span><span
                            class="fr f12">已售2000</span></p>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="footer m-bottom">
    <div class="w1200">
        <img src="images/ky_logo2.png" width="50px" height="50px">
        <span class="txt">杭州美约科技有限公司</span>
        <span class="gat">&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备16035373号-1<img src="images/gat-icon.png">&nbsp;&nbsp;浙公网安备 33010802007586号</span>
    </div>
</div>
</body>
<script>
    $(".banner").PageSwitch({
        direction: 'horizontal',
        easing: 'ease-in',
        duration: 1000,
        autoPlay: true,
        loop: 'false'
    });
</script>
</html>