<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="//cdn.kuanyes.com/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="//cdn.kuanyes.com/jquery-3.1.1.min.js"></script>
    <script src="//cdn.kuanyes.com/gritter-1.7.4/js/jquery.gritter.min.js"></script>
    <link href="//cdn.kuanyes.com/gritter-1.7.4/css/jquery.gritter.css" rel="stylesheet" property=""/>
    <script src="//cdn.kuanyes.com/jquery-validation-1.15.0/jquery.validate.min.js"></script>
    <script src="//cdn.kuanyes.com/jquery-validation-1.15.0/localization/messages_zh.js"></script>
    <script src="js/vali.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
    <title>用户登录</title>
</head>
<body>
<script th:replace="/mall/fragment/toolbar.html::all"></script>

<div class="header">
    <div class="w980"><a name="homeLink" href="index.html" th:href="@{/mall/}"> <img src="images/userlogin.png"/></a>
    </div>
</div>
<div class="login-main">
    <div class="login-content">
        <div class="title">
            <span class="hd">用户登录</span>
            <span class="tips">尊敬的款爷说用户，欢迎您回来！</span>
            <p class="other">还没账号？<a href="register.html" name="registerLink" th:href="@{/mall/register}"
                                     rel="nofollow">立即去注册</a></p></div>
        <div class="login-center">
            <form class="cmxform" id="signupForm" method="get" action="" th:action="@{/passwordAuth}" th:method="post">
                <div class="login-tel fl">
                    <ul>
                        <li>
                            <label class="normal"></label>
                            <div class="login_border"><img src="images/name2.jpeg"/>
                                <input id="username" name="username" type="text" placeholder="手机">
                            </div>
                        </li>
                        <li>
                            <label class="normal"></label>
                            <div class="login_border"><img src="images/code2.jpeg"/>
                                <input id="password" name="password" type="password" placeholder="密码">
                            </div>
                        </li>
                        <!--<li>-->
                        <!--<label class="normal"></label>-->
                        <!--<div class="chex">-->
                        <!--<label><input class="ck" name="auto" checked="checked"-->
                        <!--type="checkbox">两周内免登录</label>-->
                        <!--<a class="forget fr" href="forget.html">忘记密码？</a></div>-->
                        <!--</li>-->
                        <li>
                            <label class="normal"></label>
                            <div class="loginbtn">
                                <input class="sub" value="登录" autocomplete="off" type="submit"></div>
                        </li>
                    </ul>
                </div>
            </form>
            <div class="login-l-img fr"><img src="images/login-bj-ad.png" alt=""/></div>
        </div>
    </div>
</div>
<div class="footer m-bottom">
    <div class="w1200">
        <img src="images/ky_logo2.png" width="50px" height="50px">
        <span class="txt">杭州美约科技有限公司</span>
        <span class="gat">&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备16035373号-1<img src="images/gat-icon.png">&nbsp;&nbsp;浙公网安备 33010802007586号</span>
    </div>
</div>
</body>
</html>